<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>addCalcTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>273395D61E04B07400BE2368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273395EA1E04B07500BE2368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>273395F51E04B07500BE2368</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
